aside {
  position: fixed;
  height: 100%;
  padding: 32px 24px;
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside img {
  width: 48px;
}

aside footer a,
aside footer button {
  width: 48px;
  height: 48px;

  border: 0;

  background-color: #12afcb;
  border-radius: 16px;

  cursor: pointer;
  transition: background-color 250ms;
}

aside footer a:hover,
aside footer button:hover {
  background-color: #17d6e8;
}
